[id*="FormElement::DataField::MainCategory"] {
    width: 56rem;
}

[id$="MainCategory::Field-edit"],
[id$="MainCategory::Field-edit-content"] {
    width: 50rem;
}

[id*="MainCategoryLocal"] {
    width: 70rem !important;
    max-width: 100% !important;
}

[id*="MainCategoryLocal"] .sapMTextArea,
[id*="MainCategoryLocal"] .sapMInputBaseContentWrapper,
[id*="MainCategoryLocal"] .sapMInputBase {
    width: 70rem !important;
    max-width: 100% !important;
    min-height: 12rem !important;
}